li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 15em;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
li.selected {
  background-color: #CFD8DC;
  color: white;
}
li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
