li {
  cursor: pointer;
  background-color: #EEE;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;

  @media (max-width: 700px) {
    border-radius: 20px;
  }
}
li:hover {
  color: #607D8B;
  background-color: #DDD;
}
li.selected {
  background-color: #CFD8DC;
  color: white;
}
li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
