/* HeroesComponent's private CSS styles */
.grid-container {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 13rem);
  grid-template-rows: repeat(3, 13rem);
  grid-gap: 40px;

  @media (max-width: 700px) {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(4, 6rem);
    grid-gap: 10px;
  }
}
